@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif;
}

.wrapper .bg {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.wrapper .bg .bg-title {
  position: absolute;
  right: 15%;
  bottom: 10%;
  color: #111;
  text-shadow: 2px 2px 2px white;
  font-style: italic;
}
.wrapper .bg .bg-title .brush {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 10px;
  left: 160px;
  background-image: url("/public/images/brush.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.3;
}
.wrapper .bg .bg-title h4 {
  position: relative;
  left: 40px;
  font-size: 50px;
  z-index: 3;
  top: -10px;
}
.wrapper .bg .bg-title h6 {
  position: relative;
  font-size: 35px;
  z-index: 3;
}
.wrapper .bg .template {
  background-image: url("/public/images/home.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.wrapper .bg .pic {
  position: absolute;
  right: -10px;
  top: 0;
  width: 1300px;
  height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}
.wrapper .bg .pic.p1 {
  background-image: url("/public/images/meeting1.jpg");
  animation: scale-small 18s both linear infinite;
  background-position: center -40px;
}
.wrapper .bg .pic.p2 {
  background-image: url("/public/images/meeting2.jpg");
  animation: trans-left 18s 6s both linear infinite;
}
.wrapper .bg .pic.p3 {
  background-image: url("/public/images/meeting3.jpg");
  animation: trans-right 18s 12s both linear infinite;
  background-position: 0px -20px;
}
@keyframes scale-small {
  0% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes trans-left {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  47% {
    transform: translateX(40px);
    opacity: 1;
  }
  55% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes trans-right {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  42% {
    transform: translateX(0px);
    opacity: 1;
  }
  45% {
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    transform: translateX(40px);
    opacity: 0;
  }
}
.wrapper main #form-container {
  height: 100%;
  position: fixed;
  left: 0;
  width: 400px;
  box-shadow: var(--shadow);
  background-color: #fff;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  z-index: 10;
}
.wrapper main #form-container img {
  display: block;
  width: 150px;
  margin: 0 auto;
}
.wrapper main #form-container #welcome-message {
  text-align: center;
  margin: 20px;
  color: rgba(66, 33, 10, 0.9);
}
.wrapper main #form-container #welcome-message h1 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.wrapper main #form-container #welcome-message p {
  font-size: 22px;
  margin-bottom: 30px;
}
.wrapper main #form-container .loading {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  z-index: 50;
}
.wrapper main #form-container .loading .loading-txt {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #555;
  font-weight: 500;
  display: inline-block;
}
.wrapper main #form-container .loading .loading-gif {
  width: 65px;
  height: 65px;
  background-image: url("/public/images/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  top: 24px;
  margin-left: 10px;
}
.wrapper main #form-container .user-info {
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  top: 46%;
  transform: translateX(-50%);
}
.wrapper main #form-container .user-info.show {
  opacity: 1;
  visibility: visible;
}
.wrapper main #form-container .user-info .auto-img {
  margin-top: 30px;
  position: relative;
}
.wrapper main #form-container .user-info .auto-img .waiting-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(17, 17, 17, 0.7);
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.wrapper main #form-container .user-info .auto-img .waiting-img.show {
  opacity: 1;
  visibility: visible;
}
.wrapper main #form-container .user-info .auto-img .waiting-img h4 {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 350;
  color: #fff;
}
.wrapper main #form-container .user-info .auto-img .input_img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}
.wrapper main #form-container .user-info .auto-img h3 {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrapper main #form-container .user-info .auto-img .img-bg {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
}
.wrapper main #form-container .user-info .username {
  font-size: 25px;
  letter-spacing: 0.05em;
  margin: 20px 0;
}
.wrapper main #form-container .user-info .stream {
  margin-top: 40px;
  padding: 8px 12px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: rgb(87, 87, 87);
  opacity: 0.7;
  transition: 0.3s;
  letter-spacing: 0.1px;
}
.wrapper main #form-container .user-info .stream:hover {
  opacity: 0.5;
}
.wrapper main #form-container .user-info .signout {
  margin-top: 10px;
  padding: 10px 12px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #999;
  opacity: 0.4;
  background: transparent;
  transition: 0.5s;
}
.wrapper main #form-container .user-info .signout:hover {
  opacity: 0.8;
}
.wrapper main #form-container #sign-wrapper {
  opacity: 0;
  visibility: hidden;
}
.wrapper main #form-container #sign-wrapper .select {
  display: flex;
  justify-content: center;
}
.wrapper main #form-container #sign-wrapper .select h2 {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.1;
  transition: 0.4s;
}
.wrapper main #form-container #sign-wrapper .select h2.devide-line {
  cursor: default;
  opacity: 0.3;
}
.wrapper main #form-container #sign-wrapper .select h2.show {
  opacity: 0.5;
}
.wrapper main #form-container #sign-wrapper #form-signin {
  position: absolute;
  width: 340px;
  margin-top: 30px;
}
.wrapper main #form-container #sign-wrapper #form-signup, .wrapper main #form-container #sign-wrapper #form-signin {
  opacity: 0;
  visibility: hidden;
}
.wrapper main #form-container #sign-wrapper #form-signup.show-block, .wrapper main #form-container #sign-wrapper #form-signin.show-block {
  opacity: 1;
  visibility: visible;
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field, .wrapper main #form-container #sign-wrapper #form-signin .form-field {
  margin: 20px;
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field label, .wrapper main #form-container #sign-wrapper #form-signin .form-field label {
  font-size: 16px;
  line-height: 1.7em;
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field input, .wrapper main #form-container #sign-wrapper #form-signin .form-field input {
  width: 100%;
  border: 2px solid rgb(198, 202, 219);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.4s;
  outline: none;
  font-size: 15px;
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field input::-webkit-input-placeholder, .wrapper main #form-container #sign-wrapper #form-signin .form-field input::-webkit-input-placeholder {
  color: black;
  opacity: 0.3;
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field input[type=submit], .wrapper main #form-container #sign-wrapper #form-signin .form-field input[type=submit] {
  width: 100px;
  margin-top: 10px;
  background-color: rgb(75, 93, 172);
  border: none;
  color: #fff;
  opacity: 0.3;
  transition: 0.4s;
  pointer-events: none;
  cursor: default;
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field.pwd-role, .wrapper main #form-container #sign-wrapper #form-signin .form-field.pwd-role {
  transition: 0.4s;
  height: 40px;
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field.pwd-role .role, .wrapper main #form-container #sign-wrapper #form-signin .form-field.pwd-role .role {
  margin-top: 10px;
  margin-left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(-20px);
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field.pwd-role .role.show, .wrapper main #form-container #sign-wrapper #form-signin .form-field.pwd-role .role.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field.pwd-role .role h4, .wrapper main #form-container #sign-wrapper #form-signin .form-field.pwd-role .role h4 {
  transition: 0.3s;
  font-weight: 400;
  margin-top: 1px;
  font-size: 14px;
  opacity: 0.2;
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field.submit, .wrapper main #form-container #sign-wrapper #form-signin .form-field.submit {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}
.wrapper main #form-container #sign-wrapper #form-signup .form-field .caution, .wrapper main #form-container #sign-wrapper #form-signin .form-field .caution {
  letter-spacing: 0.1em;
  color: rgb(196, 30, 30);
  opacity: 0;
  transition: 0.3s;
  height: 0px;
}

@media screen and (max-width: 450px) {
  #form-container {
    width: 95%;
  }
  #welcome-message h1 {
    font-size: 24px;
  }
}/*# sourceMappingURL=index.css.map */