@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e8e8e8;
    font-family: 'Roboto', sans-serif
}

/* --------    ROOM STYLING    -------- */

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#video-streams{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    // flex-direction: row;
    // flex-wrap: wrap;
    // width: 50%;
    // height: calc(100vh - 230px);
    // margin: 0 auto;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    .user-container{
        // width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .local-container{
        // display: flex;
    }
}

.video-container{
    // flex-basis: 500px;
    // flex-grow: 1;
    // max-height: 100%;
    // min-height: 350px;
    border: 3px solid rgb(227, 138, 162);
    border-radius: 8px;
    margin: 2px;
    background-color: #777;
    position: relative;
}

.video-player{
    width: 490px;
    height: 350px;
    position: relative;
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .micro-status-icon{
        width: 50px;
        height: 50px;
        background-image: url('/public/images/micro_disable_transparent.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 5px;
        top: 0;
        z-index: 10;
        display: none;
        &.show{
            display: block;
        }
    }
    .user-block{
        background: #666;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        &.show{
            display: block;
        }
        .user-img{

        }
        .auto-img{
            position: relative;
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .img-bg{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 2px solid #fff;

                h3{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 70px;
                    color: #fff;
                    font-weight: 500;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
    }
}

.video-player > * {
    border-radius: 5px;
}

.username-wrapper{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    background-color: rgba(0,0,0, 0.3);
    padding: 4px 6px 4px 7px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
}

@media screen and (max-width: 1650px) {
    .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }
}

/* --------    ROOM STYLING | Controls    -------- */

#controls-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 1em;
    position: fixed;
    bottom: 0;
    background-color: #DBA39A;
    height: 90px;
    #room-url-wrapper{
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 21px;
        z-index: 100;
        color: #333;
        i{
            position: relative;
            bottom: 3px;
            margin-left: 15px;
            cursor: pointer;
            opacity: 0.3;
            transition: 0.5s;
        }
    }
}

.control-icon{
    width: 55px;
    height: 55px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    transition: 0.3s;
    &:hover{
        opacity: 1;
    }
}

#audio-btn{
    background-image: url('/public/images/micro_icon.svg');
    &.disable{
        background-image: url('/public/images/micro_disable_icon.svg');
    }
}

#camera-btn{
    background-image: url('/public/images/camera_icon.svg');
    &.disable{
        background-image: url('/public/images/camera_disable_icon.svg');
    }
}

#leave-btn{
    width: 75px;
    height: 75px;
    opacity: 0.5;
    background-size: contain;
    background-image: url('/public/images/leave_icon.svg');
    &:hover{
        opacity: 1;
    }
}