@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
body .bg {
  background-image: url("/public/images/yellow_hexagonal_pattern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1000px;
  opacity: 0.05;
  position: fixed;
  z-index: -1;
}

/* --------    ROOM STYLING    -------- */
#waiting-block {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #333;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
#waiting-block h4 {
  color: #e8e8e8;
  font-size: 50px;
  font-weight: 400;
}
#waiting-block .waiting-gif {
  width: 70px;
  height: 70px;
  background-image: url("/public/images/loading.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 10px;
  top: 2px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100vh;
}

.client-alert {
  margin-top: 10px;
}
.client-alert .alert-block {
  padding: 5px 10px;
  background-color: rgba(219, 163, 154, 0.6);
  border-radius: 7px;
  vertical-align: middle;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.client-alert .alert-block .alert-user-img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  position: relative;
}
.client-alert .alert-block .alert-user-img h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.client-alert .alert-block h3 {
  font-weight: 300;
  display: inline-block;
  margin-right: 60px;
  color: #444;
  letter-spacing: 0.04em;
  font-size: 18px;
  vertical-align: middle;
}
.client-alert .alert-block h3 span {
  font-weight: 400;
  margin-right: 14px;
  letter-spacing: 0.1em;
}
.client-alert .alert-block .allow, .client-alert .alert-block .refuse {
  cursor: pointer;
  opacity: 0.4;
  font-size: 15px;
  transition: 0.3s;
}
.client-alert .alert-block .allow {
  margin-right: 8px;
}
.client-alert .alert-block .allow.hover {
  color: rgb(30, 144, 26);
  opacity: 1;
}
.client-alert .alert-block .refuse {
  margin-right: 0;
}
.client-alert .alert-block .refuse.hover {
  color: rgb(211, 38, 26);
  opacity: 1;
}

#user-setup {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -7%;
}
#user-setup .setup-container {
  border: 3px solid rgb(219, 154, 172);
  border-radius: 8px;
  background-color: #777;
  height: 100%;
  position: relative;
}
#user-setup .setup-container .username-wrapper {
  font-size: 22px;
}
#user-setup .setup-container .setup-player {
  width: 600px;
  height: 400px;
  position: relative;
}
#user-setup .setup-container .setup-player video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
#user-setup .setup-container .setup-player .micro-status-icon {
  width: 50px;
  height: 50px;
  background-image: url("/public/images/micro_disable_transparent.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 10;
  display: none;
}
#user-setup .setup-container .setup-player .micro-status-icon.show {
  display: block;
}
#user-setup .setup-container .setup-player .user-block {
  background: #666;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  border-radius: 5px;
}
#user-setup .setup-container .setup-player .user-block.show {
  display: block;
}
#user-setup .setup-container .setup-player .user-block .auto-img {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-setup .setup-container .setup-player .user-block .auto-img .img-bg {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #fff;
}
#user-setup .setup-container .setup-player .user-block .auto-img .img-bg h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
  font-weight: 400;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#user-setup .setup-container .setup-player .icon-wrapper {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 115%;
  transform: translateX(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#user-setup .setup-container .setup-player .icon-wrapper .control-icon {
  display: inline-block;
}
#user-setup .setup-container .setup-player .icon-wrapper .control-icon#setting-audio-btn {
  position: relative;
  left: -15px;
  background-image: url("/public/images/setting_micro_icon.svg");
}
#user-setup .setup-container .setup-player .icon-wrapper .control-icon#setting-audio-btn.disable {
  background-image: url("/public/images/micro_disable_icon.svg");
}
#user-setup .setup-container .setup-player .icon-wrapper .control-icon#setting-camera-btn {
  position: relative;
  left: 15px;
  background-image: url("/public/images/setting_camera_icon.svg");
}
#user-setup .setup-container .setup-player .icon-wrapper .control-icon#setting-camera-btn.disable {
  background-image: url("/public/images/camera_disable_icon.svg");
}
#user-setup .setting-options {
  position: relative;
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#user-setup .setting-options h2 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 28px;
  color: #555;
}
#user-setup .setting-options p {
  color: #666;
  font-size: 17px;
}
#user-setup .setting-options .button-block {
  position: relative;
}
#user-setup .setting-options .button-block #enter-request {
  margin-top: 20px;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  background-color: #DBA39A;
  color: #fff;
  opacity: 0.5;
  transition: 0.4s;
  display: inline-block;
}
#user-setup .setting-options .button-block #enter-request:hover {
  opacity: 1;
}
#user-setup .setting-options .button-block .request-gif {
  width: 40px;
  height: 40px;
  margin-left: 0;
  background-image: url("/public/images/wait-inroom.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 20px;
  opacity: 0.8;
  transform: scale(0.8);
}

#video-streams {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#video-streams .user-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video-container {
  border: 3px solid rgb(227, 138, 162);
  border-radius: 8px;
  margin: 2px;
  background-color: #777;
  position: relative;
}

.video-player {
  width: 490px;
  height: 350px;
  position: relative;
}
.video-player video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-player .micro-status-icon {
  width: 50px;
  height: 50px;
  background-image: url("/public/images/micro_disable_transparent.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 10;
  display: none;
}
.video-player .micro-status-icon.show {
  display: block;
}
.video-player .user-block {
  background: #666;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.video-player .user-block.show {
  display: block;
}
.video-player .user-block .auto-img {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-player .user-block .auto-img .img-bg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.video-player .user-block .auto-img .img-bg h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.video-player > * {
  border-radius: 5px;
}

.username-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px 6px 4px 7px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}

@media screen and (max-width: 1650px) {
  .video-container {
    flex-basis: 300px;
    min-height: 200px;
  }
}
/* --------    ROOM STYLING | Controls    -------- */
#controls-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  -moz-column-gap: 1em;
       column-gap: 1em;
  position: fixed;
  bottom: 0;
  background-color: #DBA39A;
  height: 90px;
}
#controls-wrapper #room-url-wrapper {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 21px;
  z-index: 100;
  color: #333;
}
#controls-wrapper #room-url-wrapper i {
  position: relative;
  bottom: 3px;
  margin-left: 15px;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.5s;
}

.control-icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: 0.3s;
}
.control-icon:hover {
  opacity: 0.9;
}

#audio-btn {
  background-image: url("/public/images/micro_icon.svg");
}
#audio-btn.disable {
  background-image: url("/public/images/micro_disable_icon.svg");
}

#camera-btn {
  background-image: url("/public/images/camera_icon.svg");
}
#camera-btn.disable {
  background-image: url("/public/images/camera_disable_icon.svg");
}

#leave-btn {
  width: 75px;
  height: 75px;
  opacity: 0.7;
  background-size: contain;
  background-image: url("/public/images/leave_icon.svg");
}
#leave-btn:hover {
  opacity: 1;
}/*# sourceMappingURL=room.css.map */