<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beeline</title>

    <link rel="stylesheet" href="/public/styles/index.css">
    <link rel="icon" type = "image/png" href = "/public/images/browser_logo.png">

    <!-- <link rel="preload" href="/public/images/meeting1.jpg" as="image" />
    <link rel="preload" href="/public/images/meeting2.jpg" as="image" />
    <link rel="preload" href="/public/images/meeting3.jpg" as="image" /> -->
</head>
<body>
    <div class="wrapper">
        <div class="bg">
            <div class="bg-title">
                <div class="brush"></div>
                <h4>線上視訊軟體新選擇</h4>
                <!-- <h6>我們的距離不在遙遠</h6> -->
            </div>
            <div class="template"></div>
            <div class="pic p1"></div>
            <div class="pic p2"></div>
            <div class="pic p3"></div>
        </div>
        <nav></nav>
        <main>
            <section id="form-container">
                <img id="logo" src="/public/images/logo.svg" alt="">
        
                <div id="welcome-message">
                    <h1>Welcome to Beeline</h1>
                    <p>Be with you online!</p>
                </div>

                <div class="loading">
                    <h5 class="loading-txt">載入中</h5>
                    <div class="loading-gif"></div>
                </div>

                <div class="user-info">
                    <div class="auto-img">
                        <div class="waiting-img">
                            <h4>上傳中</h4>
                        </div>
                        <input type="file" class="input_img" accept="image/gif, image/jpeg, image/png">
                        <h3 id="img-first-name"></h3>
                        <div class="img-bg"></div>
                    </div>
                    <div class="username"></div>
                    <button class="stream">發起會議</button>
                    <button class="signout">登 出</button>
                </div>

                <div id="sign-wrapper">
                    <div class="select">
                        <h2 class="signin-select show">登 入</h2>
                        <h2 class="devide-line">|</h2>
                        <h2 class="signup-select">註 冊</h2>
                    </div>
    
                    <form id="form-signin" class="show-block">
                        <div class="form-field">
                            <input id="input-email-signin" type="text" name="email_signin" placeholder="請輸入信箱">
                        </div>
    
                        <div class="form-field pwd-role">
                            <input id="input-pwd-signin" type="password" name="password_signin" placeholder="請輸入密碼">
                            <div class="role signin">
                                <h4 class="role-length signin">至少 8 個字符</h4>
                                <h4 class="role-number signin">至少包含 1 個數字字符</h4>
                                <h4 class="role-english signin">至少包含 1 個小寫英文字符</h4>
                            </div>
                        </div>
    
                        <div class="form-field submit">
                            <h4 class="caution signin"></h4>
                            <input id="signin-btn" type="submit" value="登入">
                        </div>
                    </form>
            
                    <form id="form-signup">
                        <div class="form-field">
                            <input id="input-name" type="text" name="name" placeholder="請填入名稱">
                        </div>
            
                        <div class="form-field">
                            <input id="input-email" type="text" name="email" placeholder="請填入信箱">
                        </div>
    
                        <div class="form-field pwd-role">
                            <input id="input-pwd" type="password" name="password" placeholder="請填入密碼">
                            <div class="role signup">
                                <h4 class="role-length signup">至少 8 個字符</h4>
                                <h4 class="role-number signup">至少包含 1 個數字字符</h4>
                                <h4 class="role-english signup">至少包含 1 個小寫英文字符</h4>
                            </div>
                        </div>
    
                        <div class="form-field">
                            <input id="input-pwd-certain" type="password" name="password-certain" placeholder="請確認密碼">
                        </div>
            
                        <div class="form-field submit">
                            <h4 class="caution signup"></h4>
                            <input id="signup-btn" type="submit" value="註冊">
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <footer></footer>
    </div>

    <script type="module" src="/public/js/index.js"></script>
</body>
</html>