<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beeline</title>

    <link rel="icon" type = "image/png" href = "/public/images/browser_logo.png">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="/public/styles/room.css">

    <link rel="preload" href="/public/images/emoji-good.gif" as="image/gif" />
    <link rel="preload" href="/public/images/emoji-heart.gif" as="image/gif" />
    <link rel="preload" href="/public/images/emoji-laugh.gif" as="image/gif" />
    <link rel="preload" href="/public/images/emoji-shock.gif" as="image/gif" />
    <link rel="preload" href="/public/images/emoji-bee.gif" as="image/gif" />
    <!-- <style>
        #video-grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style> -->
</head>
<body>
    <div class="bg"></div>
    <div id="waiting-block">
        <h4>讀取中</h4>
        <div class="waiting-gif"></div>
    </div>
    <div id="game-block">
        <!-- <div class="game-wait">
            <h1>請稍候</h1>
            <div class="game-wait-gif"></div>
        </div>
        <div class="game-bg"></div>
        <h3 class="game-start-txt"></h3>
        <h3 class="reciprocal"></h3>
        <div class="bee-game-gif"></div> -->

        <!-- 
        <div class="record-wrapper">
            <div class="record-exit">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="first-three record-block">
                <h2 class="record-title">牛 Bee</h2>
                <div class="record-intro">
                    <h4 class="intro-place">名次</h4>
                    <h4 class="intro-name">姓名</h4>
                    <h4 class="intro-reaction">反應秒數</h4>
                </div>
                <hr>
                <div class="user-record">
                    <div class="one-record">
                        <div class="record-place">1</div>
                        <div class="record-img"></div>
                        <div class="record-name">ben peng</div>
                        <div class="record-sec">0.8756 <span>秒</span></div>
                    </div>

                    <div class="one-record">
                        <div class="record-place">2</div>
                        <div class="record-img"></div>
                        <div class="record-name">Wang</div>
                        <div class="record-sec">1.87564 <span>秒</span></div>
                    </div>

                    <div class="one-record">
                        <div class="record-place">3</div>
                        <div class="record-img"></div>
                        <div class="record-name">小沐</div>
                        <div class="record-sec">0.875 <span>秒</span></div>
                    </div>
                </div>
            </div>
            <div class="last-three record-block">
                <h2 class="record-title">底 Bee</h2>
                <div class="record-intro">
                    <h4 class="intro-place">名次</h4>
                    <h4 class="intro-name">姓名</h4>
                    <h4 class="intro-reaction">反應秒數</h4>
                </div>
                <hr>
                <div class="user-record">
                    <div class="one-record">
                        <div class="record-place">
                            <i class="fa-solid fa-skull"></i>
                        </div>
                        <div class="record-img"></div>
                        <div class="record-name">ben peng</div>
                        <div class="record-sec">0.8756 <span>秒</span></div>
                    </div>

                    <div class="one-record">
                        <div class="record-place">
                            <i class="fa-solid fa-skull"></i>
                        </div>
                        <div class="record-img"></div>
                        <div class="record-name">Wang</div>
                        <div class="record-sec">1.87564 <span>秒</span></div>
                    </div>

                    <div class="one-record">
                        <div class="record-place">
                            <i class="fa-solid fa-skull"></i>
                        </div>
                        <div class="record-img"></div>
                        <div class="record-name">小沐</div>
                        <div class="record-sec">0.875<span> 秒</span></div>
                    </div>
                </div>
            </div>
            <div class="your-block record-block">
                <div class="your-intro">你的秒數</div>
                <div>1.322<span> 秒</span></div>
            </div>
        </div> 
        -->
    </div>
    <div id="white-board-block">
        <div class="board-rows">
            <div class="white-board-exit">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="board-colors">
                <div class="bd-color red"></div>
                <div class="bd-color yellow"></div>
                <div class="bd-color green"></div>
                <div class="bd-color blue"></div>
                <div class="bd-color purple"></div>
                <div class="bd-color black selected"></div>
            </div>
            <div class="board-width">
                <input type="range" id="boardW"
                min="1" max="50" value="5" step="1">
                <h3><span class="width-px">5</span><span> px</span></h3>
            </div>
            <div class="board-erase">
                <i class="fa-solid fa-eraser"></i>
            </div>
            <div class="board-reflash">
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
        <canvas id="canvas"></canvas>
        <div class="cursor2"></div>
    </div>
    <div class="wrapper">
        <div class="client-alert"></div>

        <div class="extension-wrapper">
            <div class="extension-box">
                <div class="exit"></div>
                <div class="info">
                    <h2>會議詳細資料</h2>
                    <div class="info-details">
                        <p class="info-p">如何加入會議</p>
                        <p class="copy-link-txt"></p>
                        <div class="copy-block">
                            <i class="fa-regular fa-copy"></i>
                            <p>複製會議參加資訊</p>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="group">
                    <h2>參與者</h2>
                    <div class="search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" id="search" placeholder="搜尋使用者">
                    </div>
                    <h6>通話中</h6>
                    <div class="user-wrapper">
                        <!-- 
                        <div class="user-one">
                            <div class="user-img"></div>
                            <div class="user-name">ben peng</div>
                            <div class="user-host">
                                <div class="bee-gif"></div>
                            </div>
                            <div class="user-micro micro-off">
                                <i class="fa-solid fa-microphone-slash"></i>
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>

                        <div class="user-one">
                            <div class="user-img"></div>
                            <div class="user-name">ben peng</div>
                            <div class="micro-ani-block">
                                <div class="dot d-left"></div>
                                <div class="dot d-middle"></div>
                                <div class="dot d-right"></div>
                            </div>
                            <div class="user-micro">
                                <i class="fa-solid fa-microphone-slash"></i>
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                        -->

                    </div>
                </div>
                <div class="chat">
                    <h2>通話中的訊息</h2>
                    <div class="allow-click">
                        <p>允許所有人傳送訊息</p>
                        <div class="switch-button">
                            <input type="checkbox" id="switch" checked>
                            <label for="switch">
                                <span class="switch-txt" turnOn="On" turnOff="Off"></span>
                            </label>
                        </div>
                    </div>
                    <div class="chat-caution">
                        <p>只有這場通話的參與者可以查看訊息，而且訊息會在通話結束後刪除</p>
                    </div>
                    <div class="message-wrapper">
                        <!-- <div class="message-block">
                            <div class="message-title">
                                <span class="message-name">ben peng</span>
                                <span class="message-time">晚上</span>
                                <span class="message-clock">9:43</span>
                            </div>
                            <div class="message-content">早安早安</div>
                            <div class="message-content">早安早安</div>
                        </div>

                        <div class="message-block">
                            <div class="message-title">
                                <span class="message-name">ben peng</span>
                                <span class="message-time">晚上</span>
                                <span class="message-clock">9:43</span>
                            </div>
                            <div class="message-content">早安早安</div>
                        </div> -->
                    </div>

                    <div class="send-wrapper">
                        <form id="form-message-submit">
                            <input id="send-message" type="text" placeholder="傳送訊息給所有人" autocomplete="off">
                            <input id="send-messagebg" autocomplete="off" disabled>
                            <button class="send-button">
                                <div class="send-img"></div>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="service show">
                    <h2>活動</h2>
                    <h5>線上</h5>
                    <div class="service-wrapper">
                        <div class="service-block" id="eye-game">
                            <div class="service-img s-game"></div>
                            <div class="service-txt">
                                <h4>眼明手快</h4>
                                <p></p>
                            </div>
                        </div>
                        <div class="service-block" id="white-board">
                            <div class="service-img s-board"></div>
                            <div class="service-txt">
                                <h4>白板</h4>
                                <p>點擊開始與其他白板連線</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="user-setup"></div>
        <section id="video-streams">
            <div class="user-container">
                <!-- <div id="screen-wrapper"></div> -->
                <!-- <div class="video-container" id="wrapper-${remoteUuid}">
                    <div class="username-wrapper-room">
                        <span class="user-name"></span>
                    </div>
                    <div class="video-player" id="user-${remoteUuid}">
                        <div class="micro-ani-block">
                            <div class="dot d-left"></div>
                            <div class="dot d-middle"></div>
                            <div class="dot d-right"></div>
                        </div>
                        <div class="micro-status-icon"></div>
                        <div class="user-block">
                            <div class="auto-img">
                                <div class="img-bg">
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>


        <section id="controls-wrapper">
            <div class="emoji-ani-wrapper">
                <!-- <div class="solo-emoji">
                    <div class="emoji-gif"></div>
                    <div class="emoji-name"></div>
                </div> -->
            </div>

            <div class="icon-wrapper">
                <div class="control-icon" id="audio-btn"></div>
            </div>
    
            <div class="icon-wrapper">
                <div class="control-icon" id="camera-btn"></div>
            </div>

            <div class="icon-wrapper">
                <div class="control-icon" id="emoji-btn"></div>
            </div>

            <div class="emoji-wrapper">
                <div class="emoji-block">
                    <div class="emoji emoji-good"></div>
                    <div class="emoji emoji-heart"></div>
                    <div class="emoji emoji-laugh"></div>
                    <div class="emoji emoji-shock"></div>
                    <div class="emoji emoji-bee"></div>
                </div>
            </div>

            <div class="icon-wrapper">
                <div class="control-icon stopShareClick" id="screen-share-btn"></div>
            </div>
    
            <div class="icon-wrapper">
                <div class="control-icon" id="leave-btn"></div>
            </div>

            <div class="icon-right-block">
                <div class="icon-right-solo ic-info">
                    <!-- <i class="fa-solid fa-circle-info"></i> -->
                    <i class="fa-solid fa-link"></i>
                </div>
                <div class="icon-right-solo ic-group">
                    <div class="group-num-block">
                        <h6 class="group-number"></h6>
                    </div>
                    <i class="fa-solid fa-user-group"></i>
                </div>
                <div class="icon-right-solo ic-message">
                    <i class="fa-solid fa-message"></i>
                </div>
                <div class="icon-right-solo ic-shape">
                    <i class="fa-solid fa-shapes"></i>
                </div>
            </div>
        </section>
    </div>
    <script>
        const ROOM_ID = "{{ .roomId }}"
        const USER_ID = "{{ .userId }}"
        const USER_NAME = "{{ .userName }}"
        const USER_IMG = "{{ .userImgUrl }}"
        const ENTER_ROOM_ID = "{{ .enterRoomId }}"
        const CLIENT = "{{ .client }}"
    </script>

    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.0/socket.io.js" defer></script>
    <script type="module" src="/public/js/room.js" defer></script>
</body>
</html>