<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beeline</title>

    <link rel="icon" type = "image/png" href = "/public/images/browser_logo.png">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="/public/styles/room.css">
    <!-- <style>
        #video-grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style> -->
</head>
<body>
    <div class="bg"></div>
    <div id="waiting-block">
        <h4>Room entering</h4>
        <div class="waiting-gif"></div>
    </div>
    <div class="wrapper">
        <div class="client-alert"></div>

        <div class="extension-wrapper">
            <div class="extension-box">
                <div class="info">
                    <h2>Room's information</h2>
                    <div class="info-details">
                        <p class="info-p">Joining info</p>
                        <p class="copy-link-txt"></p>
                        <div class="copy-block">
                            <i class="fa-regular fa-copy"></i>
                            <p>Copy joining info</p>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="chat">
                    <h2>In-call messages</h2>
                    <div class="allow-click">
                        <p>Let everyone send messages</p>
                        <div class="switch-button">
                            <input type="checkbox" id="switch" checked>
                            <label for="switch">
                                <span class="switch-txt" turnOn="On" turnOff="Off"></span>
                            </label>
                        </div>
                    </div>
                    <div class="chat-caution">
                        <p>Message can only be seen by people in the call and are deleted when the call ends</p>
                    </div>
                    <div class="message-wrapper">
                        <!-- <div class="message-block">
                            <div class="message-title">
                                <span class="message-name">ben peng</span>
                                <span class="message-time">晚上</span>
                                <span class="message-clock">9:43</span>
                            </div>
                            <div class="message-content">早安早安</div>
                            <div class="message-content">早安早安</div>
                        </div>

                        <div class="message-block">
                            <div class="message-title">
                                <span class="message-name">ben peng</span>
                                <span class="message-time">晚上</span>
                                <span class="message-clock">9:43</span>
                            </div>
                            <div class="message-content">早安早安</div>
                        </div> -->
                    </div>

                    <div class="send-wrapper">
                        <form id="form-message-submit">
                            <input id="send-message" type="text" placeholder="Send a message to everyone" autocomplete="off">
                            <input id="send-messagebg" autocomplete="off" disabled>
                            <button class="send-button">
                                <div class="send-img"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="user-setup"></div>
        <section id="video-streams">
            <div class="user-container"></div>
        </section>


        <section id="controls-wrapper">
            <!-- <div id="room-url-wrapper">
                <span id="room-url"></span><i class="fa-regular fa-copy"></i>
            </div> -->

            <div class="icon-wrapper">
                <div class="control-icon" id="audio-btn"></div>
            </div>
    
            <div class="icon-wrapper">
                <div class="control-icon" id="camera-btn"></div>
            </div>
    
            <div class="icon-wrapper">
                <div class="control-icon" id="leave-btn"></div>
            </div>

            <div class="icon-right-block">
                <i class="fa-solid fa-circle-info"></i>
                <i class="fa-solid fa-message"></i>
            </div>
        </section>
    </div>
    <script>
        const ROOM_ID = "{{ .roomId }}"
        const USER_ID = "{{ .userId }}"
        const USER_NAME = "{{ .userName }}"
        const USER_IMG = "{{ .userImgUrl }}"
        const ENTER_ROOM_ID = "{{ .enterRoomId }}"
        const CLIENT = "{{ .client }}"
    </script>

    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.0/socket.io.js"></script>
    <script type="module" src="/public/js/room.js" defer></script>
</body>
</html>